.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#search {
}

#background {
    height: 100vh;
    max-width: 100%;
}

#post-book {
    background-color: #BE773680;
    justify-content: center;
    height: 100vh;
}

#book-form {
    width: 80%;
}

#footer {
    margin-top: 10vh;
}

a {
    position: relative;
    float: right;
    right: 5%;

    z-index: 2;
    color: #341604;
    text-decoration: none;
}

section {
    width: 100%;
    height: fit-content;
}