<div id="page" class="page">
    <section id="search">
        <img id="background" src="assets/LoginBG1.jpg">
    </section>
    
    <section id="post-book" class="container">
        <BookForm id="book-form"></BookForm>
    </section>    
    
    <section id="carousels">
        <div *ngFor="let carousel of carousels">
            <a [routerLink]="['/browse', carousel.link]">See All</a>
            
            <Carousel 
                [title]="carousel.type"
                [items]="carousel.books">
            </Carousel>
        </div>
    </section>

    <Footer id="footer"></Footer>
</div>

