<div class="page">
    <div id="main-container">
        <div id="background-container">
            
            <img src="assets/RegisterBG.jpg" alt="Image unavailable"/>
    
        </div>
    
    
        <div id="register-container">
    
            <span id="title">The Book Hub</span><hr>
    
            <form>
                <input type="text" placeholder="Full Name" class="field" id="fullname">
                <input type="text" placeholder="Username" class="field" id="username">
                <input type="password" placeholder="Password" class="field" id="password" minlength="8">
                <input type="password" placeholder=" Confirm Password" class="field" id="password-confirm" minlength="8">
                <input type="email" placeholder="Email" class="field" id="email">
                <input type="text" placeholder="Phone Number" class="field" id="phone-number"> 
                <input type="button" class="button" value="Register">
            </form>
    
            <span id="direction-text">Already have an account? Sign in <a routerLink="/login">here</a>.</span>
        </div>
    
    </div>
</div>
<Footer></Footer>
