
<div id="page">
    <div id="background-container">
    
        <img src="assets/RegisterBG.jpg" alt="Image unavailable"/>
    
    </div>
    
    
    <div id="register-container">

        <span id="title">The Book Hub</span><hr>

        <form>
            <input type="text" placeholder="Full Name" class="field" id="fullname">
            <input type="text" placeholder="Username" class="field" id="username">
            <input type="password" placeholder="Password" class="field" id="password">
            <input type="password" placeholder=" Confirm Password" class="field" id="password-confirm">
            <input type="email" placeholder="Email" class="field" id="email">
            <input type="text" placeholder="Shipping Address" class="field" id="address"> 
            <input type="submit" id="login-btn" value="Register">
        </form>

        <span id="direction-text">Already have an account? Sign in <a href="">here</a>.</span>
    </div>
</div>
