#nav-bar {
    /* Dimensionality */
    width: 100vw;
    height: 7vh;

    /* Spacing */
    padding: 0px 5%;

    /* Positioning */
    z-index: 4;
    position: fixed;

    /* Aesthetics */
    font-size: calc(6px + 2vmin);
    background-color: #BE7736;
    border: 1px solid #341604;
}

#logo-container {
    width: 15%;
    height: 100%;
}

#logo {
    margin-top: 0.7vh;
    height: 7vh;
}

#tabs {
    width: 75%;
    height: 100%;
    justify-content: flex-end;
}

#hb-menu {
    width: auto;
    height: 100%;
}

#menu-icon {
    max-width: 75%;
    max-height: 75%;
}

#menu-options {
    width: 100%;
    height: 100vh;      /* viewport height - nav bar height */

    padding-top: 7vh;
    background-color: #BE7736;
    opacity: 0.96;

    position: fixed;
    display: none;

    z-index: 3;
    flex-direction: column;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
}