<div class="page">
    <div id="background-container">
    
        <img src="assets/LoginBG.jpg" alt="Image unavailable"/>
    
    </div>
    
    <div id="login-container">
    
        <span id="title">The Book Hub</span><hr>
    
        <form>
            <input type="text" placeholder="Email or Username" class="field" id="credential">
            <input type="password" placeholder="Password" class="field" id="password">
            <input type="button" (click) = validate() class="button" value="Sign In" id="login-btn">
        </form>
    
        <span id="direction-text">New to BookHub? Register <a routerLink="/register">here</a>.</span>

    </div>

</div>

<Footer></Footer>