
<div id="page">
    <div id="background-container">
    
        <img src="assets/LoginBG.jpg" alt="Image unavailable"/>
    
    </div>
    
    
    <div id="login-container">

        <span id="title">The Book Hub</span><hr>

        <form>
            <input type="text" placeholder="username" class="field" id="username">
            <input type="password" placeholder="password" class="field" id="password">
            <input type="submit" id="login-btn" value="Sign In">
        </form>

        <span id="direction-text">New to BookHub? Register <a href="">here</a>.</span>
    </div>
</div>
