#image-container {
    width: 100%;
    height: 100vh;

    position: absolute;
    z-index: 1;
}

#background-image {
    max-width: 100%;
    max-height: 100%;
}

#form-container {
    width: 80%;
    height: fit-content;

    max-width: 700px;
    padding: 5% 0px;

    z-index: 2;

    background-color: #BE7736;
    border: 2px solid #341604;
    border-radius: calc(2px + 2vmin);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

form {
    width: 70%;
}

#title {
    margin: 0px 0px 10px 0px;
}

#post-book {
    background-color: #BE773690;
}

#book-form {
    width: 80%;
    display: none;
}

#carousels {
    height: fit-content;
}

.field {
    margin: 5px;

    width: 100%;
    height: 5vh;

    text-align: center;
    font-family: 'Antic Slab';
    font-size: calc(6px + 2vmin);

    outline: none;
    border-radius: 5px;
}

.carousel {
    margin: 5%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;
    height: 100vh;
}