/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;

    background-color: beige;
    font-family: 'Antic Slab';

}

/* Hide the scrollbars but keep functionality */
::-webkit-scrollbar {
    display: none;
}

.page {
    width: 100%;
    height: 90vh;

    padding-top: 7vh;   /*NavBar height*/
}

.button {
    padding: calc(1px + 1vmin);
    width: fit-content;

    background: #341604;
    border-radius: calc(2px + 1.5vmin);

    font-size: calc(8px + 1.5vmin);
    outline: none;
    color: #BE7736;
}

/* 
    Light Brown: #BE7736;
    Faded Light Brown: #BE773690;
    Dark Brown: #341604; 
*/
