<div class="page">
    <section id="introduction" class="container">
        <div id="text-container" class="container">

            <span id="title">The Book Hub</span>
            <hr>
        
            <p id="info-text"> 
                BookHub is an online platform designed especifically for students 
                getting through college and recreational readers alike. We know how 
                expensive college is; why spend thousands of dollars on textbooks you’re 
                probably going to use for a couple of months and then put them away? 
                Wouldn’t you rather rent them for the time needed and then share them forward? 
                We certainly would. That’s why we bring you: <strong>The Book Hub!</strong>
            </p>
        </div>
        <a routerLink="home"><button id="browse-btn" class="button">Browse Books</button></a>
    </section>
    
    <section id="carousels">
        <Carousel 
            *ngFor="let carousel of carousels | keyvalue" 
            [title]="carousel.key">
        </Carousel>
    </section>

    <Footer></Footer>
</div>