#background-container {
    width: 100%;
    height: 65vh;

    position: absolute;
    z-index: 1;

    border: 1px solid #341604;
}

#text-container {
    /* Margins and Padding */
    z-index: 2;

    /* Dimensionality */
    width: 40%;
    height: 50vh;
    
    /* Positioning */
    position: relative;
    top: 25vh;
    left: 30%;

    /* Child display */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    /* Aesthetics */
    background: #BE7736;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: 1px solid #341604;

    overflow: auto;
}

#title {
    margin: 4%;

    font-weight: normal;
    font-size: 48px;

    color: #341604;

    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

#info-text {
    width: 75%;
    font-size: 20px;
}

#direction-text {
    margin: 2%;
    padding: 2%;
    font-size: large;
}


img {
    width: 100%;
    height: 100%;
}

hr {
    margin-top: -1%;
    margin-bottom: 1%;

    height: 2px;
    width: 75%;

    border: 1px solid #341604;
    background-color: #341604;

}

a {
    color: beige;
}

/* Mobile Rules. */
@media only screen and (min-width: 360px) and (max-width: 480px){

    #background-container {
        height: 58vh;
    }

    #title {
        font-size: 40px;
    }

    #text-container {
        width: 60%;
        height: 60vh;

        top: 15vh;
        left: 20%;

        font-size: medium;
    }

    hr{
        border: 1.5px solid #341604;
    }
}