#footer {
    width: 100%;
    height: 8vh;

    margin-top: 10%;

    background-color: #BE7736;
    border: 1px solid  #341604;

    display: flex;
    justify-content: center;
    align-items: center;
}

span {
    font-size: calc(4px + 2vmin);
}