<div id="book-form" class="container">
    <h2 id="form-title">Post a Book!</h2>

    <form class="container">
        <input type="text" id="title" placeholder="Book Title" class="field">
        <input type="text" id="author" placeholder="Book Author" class="field">
        <input type="file" accept="image/*">
        
        <span>
            <input type="radio" name="option" id="academic" value="academic">
            <label for="academic">Academic</label>

            <input type="radio" name="option" id="recreational" value="recreational">
            <label for="recreational">Recreational</label>
        </span>

        <div id="acad-options" class="container">
            <input type="text" placeholder="Faculty" class="field" id="faculty">
            <input type="text" placeholder="Department" class="field" id="department">
            <input type="text" placeholder="CourseID" class="field" id="courseID">
            <input type="number" placeholder="Edition" class="field" id="edition">
        </div>
        
        <div id="rec-options" class="container">
            <input type="text" placeholder="Genre" class="field" id="genre">
            <input type="number" placeholder="Volume" class="field" id="volume">
        </div>

        <button class="button" id="publish-btn">Publish</button>
    </form>
</div>